@import url('https://fonts.googleapis.com/css?family=Mitr');

html{
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Mitr', sans-serif;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.1em;

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;

  background-color: black;
  background-image: -webkit-gradient(radial, 50% 50%, 180, 50% 50%, 200,from(rgba(150, 111, 195, 0.2)), color-stop(0.3, rgba(150, 111, 195, 0.3)),  to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 80, 50% 50%, 100, from(rgba(224, 124, 203, 0.1)), color-stop(0.2, rgba(224, 124, 203, 0.2)), to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 80, 50% 50%, 100, from(rgba(224, 124, 203, 0.1)), color-stop(0.2, rgba(224, 124, 203, 0.2)), to(transparent)),        
      
      -webkit-gradient(radial, 50% 50%, 190, 50% 50%, 180, from(rgba(145, 75, 113, 0.3)), color-stop(0.3, rgba(145, 75, 113, 0.4)),  to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 100, 50% 50%, 80, from(rgba(145, 75, 113, 0)), color-stop(0.3, rgba(145, 75, 113, 0.2)),  to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 150, 50% 50%, 450, from(rgba(145, 75, 113, 0)), color-stop(0.5, rgba(145, 75, 113, 0.2)), to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 150, 50% 50%, 150 from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),        
      
      -webkit-gradient(radial, 50% 50%, 80, 50% 50%, 100, from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 130, 50% 50%, 150, from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 180, 50% 50%, 200, from(rgba(37, 85, 79, 0.3)), color-stop(0.2, rgba(37,85,79, 0.4)), to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 150, 50% 50%, 150 from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.1)), to(transparent)),        
      
      -webkit-gradient(radial, 50% 50%, 80, 50% 50%, 100, from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.2)), to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 130, 50% 50%, 150, from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.2)), to(transparent)),
      
      -webkit-gradient(radial, 50% 50%, 180, 50% 50%, 200, from(rgba(114, 209, 244, 0.2)), color-stop(0.2, rgba(114, 209, 244, 0.3)), to(transparent))         
      ;
  
background-image: -webkit-radial-gradient(circle contain, rgba(150, 111, 195, 0.2) 180px, rgba(150, 111, 195, 0.3) 190px, transparent 200px),
  -webkit-radial-gradient(circle contain, rgba(224, 124, 203, 0.2) 80px, rgba(224, 124, 203, 0.3) 17px, transparent 20px),
  -webkit-radial-gradient(circle contain, rgba(224, 124, 203, 0.2) 80px, rgba(224, 124, 203, 0.3) 17px, transparent 20px),
  
  -webkit-radial-gradient(circle contain, rgba(145, 75, 113, 0.2) 190px, rgba(145, 75, 113, 0.3) 41px, transparent 180px),
  -webkit-radial-gradient(circle contain, rgba(145, 75, 113, 0) 100px, rgba(145, 75, 113, 0.2) 190px, transparent 80px),        
  -webkit-radial-gradient(circle contain, rgba(145, 75, 113, 0) 150px, rgba(145, 75, 113, 0.2) 60px, transparent 450px),        
  
  -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 150px, rgba(37, 85, 79, 0.3) 34px, transparent 150px),
  -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 80px, rgba(37, 85, 79, 0.3) 17px, transparent 20px),          
  -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 130px, rgba(37, 85, 79, 0.3) 27px, transparent 150px),                  
  -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 180px, rgba(37, 85, 79, 0.3) 37px, transparent 200px),          
  
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 150px, rgba(114, 209, 244, 0.1) 34px, transparent 150px),          
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 80px, rgba(114, 209, 244, 0.3) 17px, transparent 20px),          
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 130px, rgba(114, 209, 244, 0.3) 27px, transparent 150px),            
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 180px, rgba(114, 209, 244, 0.3) 37px, transparent 200px)             
  ;   
  
  background-image: -moz-radial-gradient(circle contain, rgba(150, 111, 195, 0.2) 180px, rgba(150, 111, 195, 0.3) 190px, transparent 200px),
      -moz-radial-gradient(circle contain, rgba(224, 124, 203, 0.2) 80px, rgba(224, 124, 203, 0.3) 17px, transparent 20px),
      -moz-radial-gradient(circle contain, rgba(224, 124, 203, 0.2) 80px, rgba(224, 124, 203, 0.3) 17px, transparent 20px),
      
      -moz-radial-gradient(circle contain, rgba(145, 75, 113, 0.2) 190px, rgba(145, 75, 113, 0.3) 41px, transparent 180px),
      -moz-radial-gradient(circle contain, rgba(145, 75, 113, 0) 100px, rgba(145, 75, 113, 0.2) 190px, transparent 80px),        
      -moz-radial-gradient(circle contain, rgba(145, 75, 113, 0) 150px, rgba(145, 75, 113, 0.2) 60px, transparent 450px),        
      
      -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 150px, rgba(37, 85, 79, 0.3) 34px, transparent 150px),
      -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 80px, rgba(37, 85, 79, 0.3) 17px, transparent 20px),          
      -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 130px, rgba(37, 85, 79, 0.3) 27px, transparent 150px),                  
      -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 180px, rgba(37, 85, 79, 0.3) 37px, transparent 200px),          
      
      -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 150px, rgba(114, 209, 244, 0.1) 34px, transparent 150px),          
      -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 80px, rgba(114, 209, 244, 0.3) 17px, transparent 20px),          
      -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 130px, rgba(114, 209, 244, 0.3) 27px, transparent 150px),            
      -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 180px, rgba(114, 209, 244, 0.3) 37px, transparent 200px)             
      ;     

  background-image: -o-radial-gradient(circle contain, rgba(150, 111, 195, 0.2) 180px, rgba(150, 111, 195, 0.3) 190px, transparent 200px),
      -o-radial-gradient(circle contain, rgba(224, 124, 203, 0.2) 80px, rgba(224, 124, 203, 0.3) 17px, transparent 20px),
      -o-radial-gradient(circle contain, rgba(224, 124, 203, 0.2) 80px, rgba(224, 124, 203, 0.3) 17px, transparent 20px),

      -o-radial-gradient(circle contain, rgba(145, 75, 113, 0.2) 190px, rgba(145, 75, 113, 0.3) 41px, transparent 180px),
      -o-radial-gradient(circle contain, rgba(145, 75, 113, 0) 100px, rgba(145, 75, 113, 0.2) 190px, transparent 80px),        
      -o-radial-gradient(circle contain, rgba(145, 75, 113, 0) 150px, rgba(145, 75, 113, 0.2) 60px, transparent 450px),        

      -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 150px, rgba(37, 85, 79, 0.3) 34px, transparent 150px),
      -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 80px, rgba(37, 85, 79, 0.3) 17px, transparent 20px),          
      -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 130px, rgba(37, 85, 79, 0.3) 27px, transparent 150px),                  
      -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 180px, rgba(37, 85, 79, 0.3) 37px, transparent 200px),          

      -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 150px, rgba(114, 209, 244, 0.1) 34px, transparent 150px),          
      -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 80px, rgba(114, 209, 244, 0.3) 17px, transparent 20px),          
      -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 130px, rgba(114, 209, 244, 0.3) 27px, transparent 150px),            
      -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 180px, rgba(114, 209, 244, 0.3) 37px, transparent 200px)             
      ;

  background-image: radial-gradient(circle contain, rgba(150, 111, 195, 0.2) 180px, rgba(150, 111, 195, 0.3) 190px, transparent 200px),
      radial-gradient(circle contain, rgba(224, 124, 203, 0.2) 80px, rgba(224, 124, 203, 0.3) 17px, transparent 20px),
      radial-gradient(circle contain, rgba(224, 124, 203, 0.2) 80px, rgba(224, 124, 203, 0.3) 17px, transparent 20px),

      radial-gradient(circle contain, rgba(145, 75, 113, 0.2) 190px, rgba(145, 75, 113, 0.3) 41px, transparent 180px),
      radial-gradient(circle contain, rgba(145, 75, 113, 0) 100px, rgba(145, 75, 113, 0.2) 190px, transparent 80px),        
      radial-gradient(circle contain, rgba(145, 75, 113, 0) 150px, rgba(145, 75, 113, 0.2) 60px, transparent 450px),        

      radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 150px, rgba(37, 85, 79, 0.3) 34px, transparent 150px),
      radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 80px, rgba(37, 85, 79, 0.3) 17px, transparent 20px),          
      radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 130px, rgba(37, 85, 79, 0.3) 27px, transparent 150px),                  
      radial-gradient(circle contain, rgba(37, 85, 79, 0.2) 180px, rgba(37, 85, 79, 0.3) 37px, transparent 200px),          

      radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 150px, rgba(114, 209, 244, 0.1) 34px, transparent 150px),          
      radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 80px, rgba(114, 209, 244, 0.3) 17px, transparent 20px),          
      radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 130px, rgba(114, 209, 244, 0.3) 27px, transparent 150px),            
      radial-gradient(circle contain, rgba(114, 209, 244, 0.2) 180px, rgba(114, 209, 244, 0.3) 37px, transparent 200px)       
      ;
  -moz-background-size: 1500px 750px;
  background-size: 1500px 750px;
  background-position: 600px 150px, 2000px -350px, -540px -250px, 250px -250px, -150px 50px, 500px -50px, -250px -300px, -300px -100px, -400px -400px, -800px -150px, -100px -50px, 650px -300px, 490px -200px, 900px 0px;   
  /* background-position: 150px 0px, 2000px 0px, 50px 0px, 250px 0px, 100px 0px, 300px 0px, -250px 0px, -300px 0px, -400px 0px, -800px 0px, 0px 0px, 650px 0px, 90px 0px, 900px 0px;    */
}

.no-cssgradients body {
  background-color: black;
  background-image: url(data:image/svg+xml;base64,H4sICBWwZk0AA2Jva2VoLnN2ZwC9lmtuozAUhf9nFZZHlRIpAV%2BDgVY4lUYjdQGzAkocQEOhMiRkdj82xIzCI30o7R9jlPicz%2FceW4SPp5ccHYWssrLgGCyCH7eLsDomqMl2dcoxIwSjVGRJWnPs6Be1oqg4Tuv69cG2m6axGscqZWJTQoitluLtYoHCndhX2wVC4T7LayFRtuP4OT9I%2BC%2BnFtxhY9S9%2FOV4w%2FTkdJ5oCaUhnqJDVWVR8VNJoKre%2FRLHLKo7aowy9fhdHmQsnmT0mmYxtltvuzOf4mA352Cf4vBvzuG%2Fg0M1yO46pGYJqmVUVPtSvnDcTvOoFksKZI3AIyuM1LKc46IsRNtcFMaZjHOBpMpEgFF80tlQzxYXKx5Z%2FhEcy%2BQ5WgLTMgBquGdrRCxnZf6xMXttHRQYxweZL3%2B0Oeltp1Wo%2Bt0ewoDfwQQGxicDGkpdJaEHShytw0Y0FnsbZyQDHc4ljdfRgKFxv53mEsiFDoj1vRoCgauK6zNdaufzvZoQGdbGxIYalODjKLquIxZ%2FhYdeHum8POMFb3nRCTNn1mywM7dz2%2FRV9oZ2jr9GgXa8N0m%2B9JqyGtT4UgLYVPzOh2HT75teB4EvAqEGJJht9veAOAYE%2BpI410nGOfgwCZ0%2BiyYmdJYEoD3QSoS67nRZpu4GNj4AJgngzEbyHWZwvorya0vmeg%2FB7CV4C2tyrd2995ds%2Buwc2oke1PfP9h%2F9egCnVgkAAA%3D%3D), url(data:image/svg+xml;base64,H4sICBWwZk0AA2Jva2VoLnN2ZwC9lmtuozAUhf9nFZZHlRIpAV%2BDgVY4lUYjdQGzAkocQEOhMiRkdj82xIzCI30o7R9jlPicz%2FceW4SPp5ccHYWssrLgGCyCH7eLsDomqMl2dcoxIwSjVGRJWnPs6Be1oqg4Tuv69cG2m6axGscqZWJTQoitluLtYoHCndhX2wVC4T7LayFRtuP4OT9I%2BC%2BnFtxhY9S9%2FOV4w%2FTkdJ5oCaUhnqJDVWVR8VNJoKre%2FRLHLKo7aowy9fhdHmQsnmT0mmYxtltvuzOf4mA352Cf4vBvzuG%2Fg0M1yO46pGYJqmVUVPtSvnDcTvOoFksKZI3AIyuM1LKc46IsRNtcFMaZjHOBpMpEgFF80tlQzxYXKx5Z%2FhEcy%2BQ5WgLTMgBquGdrRCxnZf6xMXttHRQYxweZL3%2B0Oeltp1Wo%2Bt0ewoDfwQQGxicDGkpdJaEHShytw0Y0FnsbZyQDHc4ljdfRgKFxv53mEsiFDoj1vRoCgauK6zNdaufzvZoQGdbGxIYalODjKLquIxZ%2FhYdeHum8POMFb3nRCTNn1mywM7dz2%2FRV9oZ2jr9GgXa8N0m%2B9JqyGtT4UgLYVPzOh2HT75teB4EvAqEGJJht9veAOAYE%2BpI410nGOfgwCZ0%2BiyYmdJYEoD3QSoS67nRZpu4GNj4AJgngzEbyHWZwvorya0vmeg%2FB7CV4C2tyrd2995ds%2Buwc2oke1PfP9h%2F9egCnVgkAAA%3D%3D);
  background-position: 120px 0, -155px 0px;
  background-repeat: repeat;
  background-size: auto;
}

